menu.dtd

<!ELEMENT menu (meals, beverages, otherBeverages)>
<!ELEMENT meals (name, price, description, image?)>
<!ELEMENT beverages (size, price, description)>
<!ELEMENT otherBeverages (name, price)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT size (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT image (#PCDATA)>

 