Bryan's Cafe/menu.dtd

<!ELEMENT menu (meals, beverages, otherBeverages)>
<!ELEMENT meals (item+)>
<!ELEMENT beverages (item+)>
<!ELEMENT otherBeverages (item+)>
<!ELEMENT item (name?, image?, size?, description?, price)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT size (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT price (#PCDATA)>